.wrapper {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}


.fileShareBodySection{
  width: 90%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: #a9a9a9;
  color: white;
  margin-left: 5vw;
}

.fileUploadSection{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-end;
  padding: 1vh 0vw;
  position: fixed;
  background-color: #a9a9a9;
}

.downloadFileList{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  padding-top: 10vh;
}